<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pedro João">
    <meta name="Description" content="comunidade IPIL">
    <meta name="keywords" content="Macarenko">
    <meta http-equiv="content-language" content="pt-pt">
    <title>School Template</title>

    <!--FivIcon-->
    <link rel="shortcut icon" href="/views/content/img/fv.png" type="image/x-png">

    <!--Bootstrap-->
    <link rel="stylesheet" href="/views/content/bootstrap/css/bootstrap.min.css">
    
    <!--CSS files-->
    <link rel="stylesheet" href="/views/css/principal.css">
    

</head>
<body >
    <header>      
        <nav>
            
            <ul type="none">

                <li><a href="#">Home</a> </li>
                <li><a href="#">About Us</button>
                <li><a href="#">Our mission<i></i> </a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Galery</a></li>
                <li><a href="#">Contact Us</a></li>
                
            </ul>
           
        </nav>            
               
    </header>
 
    
    <section class="about">
        <h1>Home</h1>
    </section>
    <section class="about">
        <h1>About Us</h1>
    </section>
    <section class="about">
        <h1>Our Mission</h1>
    </section>
    <section class="about">
        <h1>News</h1>
    </section>
    <section>
        <h1>Galery</h1>
    </section>
    <section class="about">
        <h1>Contact Us</h1>
    </section>


   
    <script src="/views/Js/principal.js"></script>
    <script src="/views/content/bootstrap/js/jquery-3.5.1.min.js"></script>
    <script src="/views/content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>